* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
   font-size: 1.4rem; /* 14px */
   font-family: Arial, Helvetica, sans-serif;
   color: white;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1e2337;
}

h1 {
    color: red;
}

#btn-red {
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    animation-name: rouge;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes rouge {
    0% {left: 0px; top: 0px;}
    25% {left: 200px; top: 0px;} 
    50% {left: 200px; top: 200px;}
    75% {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}
}
#btn-blue {
    background-color: rgb(0, 60, 255);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    animation-name: bleu;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes bleu {
    0% {left: 0px; top: 0px;}
    25% {left: 0px; top: 200px;}
    50% {left: 200px; top: 200px;}
    75% {left: 200px; top: 0px;}
    100% {left: 0px; top: 0px;}
}